<h2>Add new Posts </h2>

<h2> <%= @message %> </h2>
<p>
<form action="/new" method="POST" >
	<div class="mb-3">
  
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type you message" ></textarea>
</div></br>

	<button type="submit" class="btn btn-primary">submit</button>
</form>
</p>